.product-main{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 1000px;

}


.testingcentering{
    display: flex;
    max-width: 1200px;
}


.products{
    width: 100%;
}


.products1{
    display: flex;
    margin: 5%;
}

.products2{
    display: flex;
    margin: 5%;
}

.productContainer{
    color: white;
    background-color: #1F2821;
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
}


.products-text{
}

