.register-main{
    display: flex;
    background-image: url('../Images/people/pessoas\ 2.png');
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    background-repeat: no-repeat;
    padding-top: 10%;
    height: 50vh;
    justify-content: center;   
    min-width: 320px  
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1240px;
}

.information-try{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    border-radius: 25px;
    margin-right: 5%;
    padding: 2%;
    width: 40%;
    height: 30vh;
    background-color: white;
    min-height: 400px;
}

.register-form{
    background-color: #1F2028;
    color: white;
    text-align: left;
    overflow: hidden;
    border-radius: 25px;
    width: 20%;
    height: 30vh;
    padding: 5%;
    margin-left: 3%;
    min-height: 400px;
    max-width: 1200px;


}


.special-container{
    text-align: center;
}


input {
    padding: 10px; /* Add some padding for better appearance */
    margin: 5px 0; /* Add margin for spacing between inputs */
    border: 1px solid #ccc; /* Add a simple border */
    border-radius: 15px; /* Add rounded corners */
    display: block; /* Make the input a block element to take full width */
    width: 100%; /* Take full width of the container */
    box-shadow: 0 0 5px rgba(255, 255, 255, .5); /* Add a subtle box shadow */
  }
  
  input:focus {
    outline: none; /* Remove default focus outline */
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.6); /* Add a slightly stronger box shadow on focus */
  }

.submit-button {
    padding: 10px 20px; /* Add padding for better appearance */
    background-color: #007bff; /* Set the background color */
    color: #fff; /* Set the text color */
    border: none; /* Remove the border */
    border-radius: 4px; /* Add rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 16px; /* Set the font size */
    transition: background-color 0.3s ease; /* Add a smooth transition for background color */
  }
  
  button:hover {
    background-color: #0056b3; /* Darken the background color on hover */
  }
  
  button:active {
    background-color: #004080; /* Darken the background color when the button is clicked */
  }

  @media screen and (max-width:940px){
 
    .register-main{
      min-height: none;
      min-width: none;
      height: 100%;
  }

    .container{
      width: 100%;
      max-width: none;
      min-height: none;
      min-width: none;
    }
    
    .information-try{
        display: none;
    }

    .register-form{
      margin-top: 10%;
      margin-bottom: 10%;
      width: 50%;
      padding: 5%;
      min-height: none;
      max-width: none;
  
  
  }
 
 
  }
  